.create-post {
    display: relative;
    border-radius: 10px;
    background: $gray;
    box-shadow: $nav-shadow;
    border: $border-basic;
    overflow: hidden;

    &__header {
        padding: 15px 20px;
        border-bottom: $border-basic;
        background: $lite-black;
    }

    &__form {
        width: 100%;

        .header-tag__wrapper {
            display: flex;
            align-items: center;
            padding: 0 20px;
            border-bottom: $border-basic;
            color: $blue;

            .hash-wrapper {
                color: $blue;
                height: 100%;
                display: flex;
                align-items: center;
                font-size: 1.7em;
                font-weight: bold;
                padding-right: 5px;
                cursor: default;
            }
        }

        .header-tag {
            width: 100%;
            border: 0;
            color: $blue;
            padding: 10px 0;
            font-size: 30px;
            font-weight: bold;
            background: transparent;
        }
    }

    &__body {
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 20px;
        min-height: 70px;
        padding: 0 20px;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        border-top: $border-basic;
        padding: 20px;
        padding-top: 0;

        .create-btn {
            border: 0;
            padding: 10px 30px;
            font-size: 18px;
            margin-top: 20px;
        }
    }
}