.feed {
    width: 100%;
    padding: 20px;
    display: flex;
    position: relative;

    &_panel {
        max-width: (1100 / 100) * 35 + px;
        width: 35%;
        position: fixed;

    }
    &_content {
        width: 60%;
        margin-left: 40%;
    }
}

