.post-item {
    width: 100%;
    margin-top: 20px;
    background: $lite-black;
    border: $border-basic;
    box-shadow: $nav-shadow;
    border-radius: $radius-basic;
    position: relative;
    overflow: hidden;

    .post-wrapper.blur {
        filter: blur(3px);
    }

    .dropdown {
        min-width: inherit !important;
        li {
            button {
                padding: 7px 15px;
                color: $white;
            }
        }
    }

    .delete-pop-btn {
        display: flex;
        margin-right: 10px;
        opacity: .4;
        .dot {
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            margin: 1px;
            background: $white;
        }
        &:hover {
            opacity: .7;
        }
    }

    .deletePost {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 120px;
        flex-direction: column;
        background: rgba(0, 0, 0, .4);

        .action {
            display: flex;
        }

        button {
            padding: 10px 40px;
            background: $blue;
            margin: 10px;
            font-size: 14px;
            font-weight: bold;
            color: $white;
            border-radius: 40px;

            &.delete {
                background: $red;
                
            }
        }
    }

    &__meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: $border-basic;

        &__wrapper {
            display: flex;
            align-items: center;
            
            .thumbnail {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $blue;
                color: $white;
                font-weight: bold;
                font-size: 20px;
                border-radius: 50%;
                margin: 15px 15px;
            }

            .info {
                display: flex;
                flex-direction: column;

                .username {
                    font-weight: bold;
                    color: $white;
                }

                .date {
                    font-size: 0.7em;
                    padding-top: 7px;
                    opacity: 0.5;
                }
            }
        }


    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }

    &__body {
        margin-top: 20px;
        width: 100%;
        line-height: 1.2em;
        div {
            margin: 15px 0;
            word-break: break-word;
        }
    }

    &__tag {
        font-size: 18px;
        color: $blue;
        border: 2px solid $blue;
        font-weight: bold;
        padding: 10px 15px;
        border-radius: 20px;
        transition: 0.2s;

        &:hover {
            color: $white;
            background: $blue;
        }
    }

    &__actions {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        border-top: $border-basic;
        padding: 10px 20px;
        align-items: center;

        .reaction-btn {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            transition: 0.2s;
            box-shadow: 0 0 20px rgba(255, 168, 175, 0);

            span {
                display: block;
                width: 100%;
            }

            &:hover {
                transform: scale(1.2);
            }

            &.love {
                padding-top: 5px;

                &.reacted {
                    background-color: #ffaab1;
                    border-radius: 50%;
                    box-shadow: 0 0 0px #ffaab1;
                }
            }
        }

        .total-feeling {
            font-size: 14px;
            opacity: 0.5;
        }
    }
}


.loading-post {
    @keyframes loading {
        from {
            opacity: 1;
        }

        to {
            opacity: .3;
        }
    }


    width: 100%;
    height: 400px;
    margin-top: 20px;
    background: $gray;
    border: $border-basic;
    box-shadow: $nav-shadow;
    border-radius: $radius-basic;
    animation-name: loading;
    animation-duration: .6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}