
.profile-panel {
    width: 100%;
    border-radius: 5px;
    border: $border-basic;
    background: $lite-black;
    box-shadow: $nav-shadow;


    &__wrapper {
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .thumbnail {
            width: 20vw;
            height: 20vw;
        }
    }

    &__body {
        .username {
            margin-top: 10px;
            font-size: 2em;
            font-weight: bold;
        }
    }
}