.profile {
    .post-item {
        margin-top: 0;
    }
    .profile-panel {
        border: 0;
        box-shadow: none;
        .thumbnail {
            width: 20vw;
            height: 20vw;
        }
    }
}